@model jobs.Models.Message

<div>
   
    
</div>




<div class="container">
    <div class="row">
        <h3>RE: @Model.Job.Title application</h3>
        Good day @Model.Profile.Name
        <br/>

        This email serves to let you know that you have been shortlisted for the position you applied on
        <br/>
        Details are as follows
        <br/>
        Venue   : @Model.Location
       <br />
        Date    : @Model.dateTime.ToShortDateString()
        <br/>
        Time    : @Model.dateTime.ToShortTimeString()

        <br/>
        We look forward to meeting with you
        <br/>
        Kind regards
        <br/>
        @Model.BusinessProfile.Name
    </div>
</div>
