@model IEnumerable<jobs.Models.Job>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    <!--  Layout = "~/Views/Shared/_Layout - nosides.cshtml";-->
    Layout = "~/Views/Shared/_Layout - nosides.cshtml";
    ViewData["Title"] = "Your posted jobs";
}



@if (ViewBag.jobs)
{

@foreach (var item in Model)
{
    <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">

        <div class="col-md-3">
            <span class="badge @item.badge px-2 py-1 mb-3">@item.Type</span>
            <h2>
                @Html.ActionLink(item.Title, "Details", "Jobs", new { id = item.Id })

            </h2>
            <p class="meta">Publisher: <strong>@item.businessProfile.Name</strong> 
        </div>
        <div class="col-md-3 text-center">
            <h3>@item.Location</h3>

        </div>
        <div class="col-md-3 text-md-right">
            <strong class="text-black">@item.SalaryRange</strong>
        </div>
        
        
        <div class="col-md-3 text-right">
            <a href="@Url.Action("Applied", "Profiles", new { jobId = item.Id })">
                <h3>@item.JobProfiles.Count</h3>
                @if (@item.JobProfiles.Count == 1)
                {
                    <span class="meta">Applicant</span>
                }
                else
                {
                    <span class="meta">Applicants</span>
                }
            </a>
        </div>
       
    </div>
}
}
else
{
<h2>You don't have any posted jobs yet</h2>
}

